@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   	color: white;
   	font-family: 'Oswald', sans-serif;
}
body {
    height: 100%;
   	background: url(https://picsum.photos/id/366/1600/900);
   	background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
a:hover {
	color: red;
	font-size: 125%;
}
p::first-letter {
	font-size: 1.25em;
}
header{
	display: flex;
	background-color: rgba(0, 0, 0, 0.3);
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    background-image: url(../img/pattern-02.png);
	font-size: 1.7em;
	height: 5em;
}
header nav {
}
header nav a {
	color: white;
	padding: 0.5em;
    text-decoration: none;
}
.selected{
	color: green;
    text-decoration: none;
}
.selected:hover {
	color: green;
	font-size: 100%;
}
.pl-05 {
	padding-left: 0.5em;
}
.botones{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.serbianFlag {
	background-image: url(../img/banderas.png);
	background-repeat: no-repeat;
	background-position: -13px -14px;
	height: 1em;
	width: 1.5em;
}
.englishFlag {
	background-image: url(../img/banderas.png);
	background-repeat: no-repeat;
	background-position: -395px -14.8px;
	height: 1em;
	width: 1.5em;
}
.spanishFlag {
	background-image: url(../img/banderas.png);
	background-repeat: no-repeat;
	background-position: -394px -157px;
	height: 1em;
	width: 1.5em;
}
header img{
	border-radius: 50%;
	height: 4em;
}
.desplegable::after {
	content: "";
	display: inline-block;
	background-image: url(img/arrow.svg);
	background-repeat: no-repeat;
	background-size: auto;
	width: 0.7em;
	height: 0.7em;
}
main {
	height: 50%;
	overflow: auto;
}
main article {
	margin: 2em 15%;
	border-width: 1px;
	border-color: gray;
	border-style: solid;
	background-color: rgba(0, 0, 0, 0.6);
}
main article h2{
	text-align: center;
	font-size: 3em;
}
main article p, main article h3{

	font-variant: small-caps;
	margin: 2em;
}
main article p {
	font-size: 1.25em;
}
main article h3 {
	font-size: 1.5em;
}
.proyects {
	border-style: inset;
	border-color: lightblue;
	margin: 1em;
}
.proyects h3 {
	font-size: 2em;
	margin: 1em;
}
.proyects p, main a {
	font-size: 1.15em;
	margin: 1em;
	text-decoration: none;
}
.knowledge, .contact {
	display: flex;
	margin: 1em;
	justify-content: center;
}
.knowledge img, .contact a img {
	height: 4em;
	margin: 0.5em;
}
footer {
	display: flex;
	background-color: rgba(0, 0, 0, 0.4);
	background-image: url(../img/palkyLogo1.png);
	height: 3em;
	justify-content: center;
	align-items: center;
}
footer p , footer img{
	margin-left: 1em;
	margin-right: 1em;
}
footer img {
	height: 2em;
}
.ocultar {
	display: none;
}