@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   	color: white;
   	font-family: 'Oswald', sans-serif;
}

/* BODY */

body {
    height: 100%;
   	background: url(https://picsum.photos/id/366/1600/900);
   	background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
a:hover {
	color: red;
	font-size: 125%;
}
p::first-letter {
	font-size: 1.25em;
}

/* HEADER */

header{
	display: flex;
	background-color: rgba(0, 0, 0, 0.3);
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    background-image: url(../img/pattern-02.png);
	font-size: 1.7em;
	height: 20%;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 2;
}
header nav a {
	color: white;
	padding: 0.5em;
    text-decoration: none;
}
.selected{
	color: green;
    text-decoration: none;
}
.selected:hover {
	color: green;
	font-size: 100%;
}
.pl-05 {
	padding-left: 0.5em;
}
.botones{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.serbianFlag {
	background-image: url(../img/banderas.png);
	background-repeat: no-repeat;
	background-position: -13px -14px;
	height: 1em;
	width: 1.5em;
}
.englishFlag {
	background-image: url(../img/banderas.png);
	background-repeat: no-repeat;
	background-position: -395px -14.8px;
	height: 1em;
	width: 1.5em;
}
.spanishFlag {
	background-image: url(../img/banderas.png);
	background-repeat: no-repeat;
	background-position: -394px -157px;
	height: 1em;
	width: 1.5em;
}
header .hamburger img {

	height: 1.5em;
	border-radius: 0%;
	display: none;
}
header .hamburger img:hover + ul{
	background-color: rgba(127, 127, 127, 0.95);
	display: block;
}
/* header .hamburger ul {
	display: none;
} */
header .hamburger ul {
	position: absolute;
	background-color: rgba(127, 127, 127, 0.95);
	border: 1px lightgray solid;
	list-style-type: none;
	left: 43%;
	display: none;
}
header .hamburger ul:hover {
	display: block;
}
header img{
	border-radius: 50%;
	height: 120%;
}
.desplegable::after {
	content: "";
	display: inline-block;
	background-image: url(img/arrow.svg);
	background-repeat: no-repeat;
	background-size: auto;
	width: 0.7em;
	height: 0.7em;
}

/* MAIN */

main {
	height: 73%;
	position: absolute;
	top: 20%;
	left: 0px;
	overflow: auto;
}
main article {
	margin: 2em 15%;
	border-width: 1px;
	border-color: gray;
	border-style: solid;
	background-color: rgba(0, 0, 0, 0.6);
}
main article h2{
	text-align: center;
	font-size: 3em;
}
main article p, main article h3{

	font-variant: small-caps;
	margin: 2em;
}
main article p {
	font-size: 1.25em;
}
main article h3 {
	font-size: 1.5em;
}
.proyects {
	border-style: inset;
	border-color: lightblue;
	margin: 1em;
}
.proyects h3 {
	font-size: 2em;
	margin: 1em;
}
.proyects p, main a {
	font-size: 1.15em;
	margin: 1em;
	text-decoration: none;
}
.knowledge, .contact {
	display: flex;
	flex-wrap: wrap;
	margin: 1em;
	justify-content: center;
}
.knowledge img, .contact a img {
	height: 4em;
	margin: 0.5em;
}

/* FOOTER */

footer {
	display: flex;
	background-color: rgba(0, 0, 0, 0.8);
	height: 7%;
	width: 100%;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0px;
	bottom: 0%;
}
footer p , footer img{
	margin-left: 1em;
	margin-right: 1em;
}
footer img {
	height: 2em;
}
 
@media (max-width: 1200px) {
	header {
		font-size: 125%;
	}

	main,
	footer {
		font-size: 80%;
	}

	header img {
		height: 90%;
	}
}
@media (max-width: 900px) {
	header {
		font-size: 100%;
	}
	main,
	footer {
		font-size: 70%;
	}
	header img {
		height: 80%;
	}
	
}
@media (max-width: 700px) {
	header {
		height: 15%;
	}
	.barra,
	.botones {
		display: none;
	}
	header .hamburger img {
		display: inline;
	}
	header img {
		height: 90%;
	}
}